<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingtu.common.mapper.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.mingtu.common.entity.UserInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uname" jdbcType="VARCHAR" property="uname" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>